$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

$page_width: 164rem;

$white: #fff;
$black: #000;
$color_text_base: $black;
$body_bg: $white;

$primary: #0b4dc2;
$darkPrimary: #002668;
$secondary: #fff9df;
$txt: #0e0e13;
$txtGray: #303035;
$black: #202020;
$border: #c8c8c9;
$light: #b4b4b4;
$red: #f24942;

$header: 11.4rem;
$footer: 11.3rem;

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-UltraLight.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

$font_1: "Gilroy";

$font_size_base: 1.6rem;

// Custom class
